In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# Load dataset
df = pd.read_csv('../data/garmin/sleep.csv', sep=',')

# Trim columns
df = df.loc[:, ['User First Name', 'Calendar Date (Local)', 'Start Time (Local)', 'End Time (Local)', 'Duration (s)', 'Rem Sleep Duration (s)', 'Deep Sleep Duration (s)', 'Light Sleep Duration (s)', 'Source']]

df

,User First Name,Calendar Date (Local),Start Time (Local),End Time (Local),Duration (s),Rem Sleep Duration (s),Deep Sleep Duration (s),Light Sleep Duration (s),Source
0,P10,2023-12-22,2023-12-22T01:17:00,2023-12-22T09:03:00,27960,8400,3000,16560,device
1,P10,2023-12-22,2023-12-22T01:17:00,2023-12-22T09:03:00,27960,8400,3000,16560,device
2,P10,2023-12-22,2023-12-22T01:17:00,2023-12-22T09:03:00,27960,8400,3000,16560,device
3,P10,2023-12-22,2023-12-22T01:17:00,2023-12-22T09:03:00,27960,8400,3000,16560,device
4,P10,2023-12-22,2023-12-22T01:17:00,2023-12-22T09:03:00,27960,8400,3000,16560,device
...,...,...,...,...,...,...,...,...,...
3791,P14,2024-01-08,2024-01-08T00:01:00,2024-01-08T07:34:00,27180,4140,6600,16380,device
3792,P14,2024-01-08,2024-01-08T00:01:00,2024-01-08T07:34:00,27180,4140,6600,16380,device
3793,P14,2024-01-08,2024-01-08T00:01:00,2024-01-08T07:34:00,27180,4140,6600,16380,device
3794,P14,2024-01-08,2024-01-08T00:01:00,2024-01-08T07:34:00,27180,4140,6600,16380,device
3795,P14,2024-01-08,2024-01-08T00:01:00,2024-01-08T07:34:00,27180,4140,6600,16380,device

In [9]:
# Select records for one user
p_df = df[df['User First Name'] == 'P12']
p_df

,User First Name,Calendar Date (Local),Start Time (Local),End Time (Local),Duration (s),Rem Sleep Duration (s),Deep Sleep Duration (s),Light Sleep Duration (s),Source
1289,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device
1290,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device
1291,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device
1292,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device
1293,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device
...,...,...,...,...,...,...,...,...,...
2579,P12,2024-01-07,2024-01-07T14:00:00,2024-01-08T12:21:00,80460,0,61140,11460,server
2580,P12,2024-01-07,2024-01-07T14:00:00,2024-01-08T12:21:00,80460,0,61140,11460,server
2581,P12,2024-01-07,2024-01-07T14:00:00,2024-01-08T12:21:00,80460,0,61140,11460,server
2582,P12,2024-01-07,2024-01-07T14:00:00,2024-01-08T12:21:00,80460,0,61140,11460,server
2583,P12,2024-01-07,2024-01-07T14:00:00,2024-01-08T12:21:00,80460,0,61140,11460,server

In [36]:
# Load glucose dataset
glucose_df = pd.read_csv('../data/P12/supersapiens/merged.csv', sep=';')

# Convert timestamp
glucose_df['recorded_timestamp'] = pd.to_datetime(glucose_df['recorded_timestamp'])

glucose_df

       glucose  recorded_timestamp
0          103 2023-12-23 00:00:27
1          104 2023-12-23 00:01:29
2          107 2023-12-23 00:02:29
3          112 2023-12-23 00:03:29
4          112 2023-12-23 00:04:30
...        ...                 ...
18863       98 2023-12-28 23:55:57
18864       98 2023-12-28 23:56:57
18865       98 2023-12-28 23:57:57
18866       98 2023-12-28 23:58:58
18867       98 2023-12-28 23:59:58

[18868 rows x 2 columns]

In [46]:
# Group glucose by day
glucose_mean_per_day = pd.DataFrame(glucose_df.groupby(glucose_df['recorded_timestamp'].dt.date)['glucose'].mean())

# Change index data type
glucose_mean_per_day.index = pd.to_datetime(glucose_mean_per_day.index)

# Print
glucose_mean_per_day

                       glucose
recorded_timestamp
2023-12-21           81.019064
2023-12-22           95.214912
2023-12-23          100.565649
2023-12-24          103.860322
2023-12-25          104.198041
2023-12-26          108.802076
2023-12-27          108.478355
2023-12-28          105.195748
2023-12-29          105.966184
2023-12-30          112.118027
2023-12-31          107.381974
2024-01-01          106.787106
2024-01-02          110.796813
2024-01-03          113.972067
2024-01-04          110.583884

In [48]:
# Rename column from 'Calendar Date (Local)' to 'recorded_timestamp' in Garmin Dataset
p_df.columns = p_df.columns.str.replace('Calendar Date (Local)', 'recorded_timestamp')

# Join Garmin Dataset with Glucose Data
p_df_merged = pd.merge(p_df, glucose_mean_per_day, left_on='recorded_timestamp', how='inner', right_index=True)

# Print
p_df_merged

,User First Name,recorded_timestamp,Start Time (Local),End Time (Local),Duration (s),Rem Sleep Duration (s),Deep Sleep Duration (s),Light Sleep Duration (s),Source,glucose
1289,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device,100.565649
1290,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device,100.565649
1291,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device,100.565649
1292,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device,100.565649
1293,P12,2023-12-23,2023-12-23T00:52:00,2023-12-23T08:45:00,28380,48240,31680,172800,device,100.565649
...,...,...,...,...,...,...,...,...,...,...
2484,P12,2024-01-04,2024-01-04T14:00:00,2024-01-05T14:01:00,86460,0,53880,7140,server,110.583884
2485,P12,2024-01-04,2024-01-04T14:00:00,2024-01-05T14:01:00,86460,0,53880,7140,server,110.583884
2486,P12,2024-01-04,2024-01-04T14:00:00,2024-01-05T14:01:00,86460,0,53880,7140,server,110.583884
2487,P12,2024-01-04,2024-01-04T14:00:00,2024-01-05T14:01:00,86460,0,53880,7140,server,110.583884
2488,P12,2024-01-04,2024-01-04T14:00:00,2024-01-05T14:01:00,86460,0,53880,7140,server,110.583884